body {
    margin: 0;

    color: #fff;
    background-color: #4c6781;
}

*, *:before, *:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px;
}





.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: auto;

    background-color: #000;
    position: absolute;
    top: 50px;
    right: 10%;
}

.box__title {
    color: #caefbb;
    font-size: 22px;
    text-align: center;
}
.box__title:before, .box__title:after {
    color: #c31818;
    font-size: 26px;
}
.box__title:before {
    content: '«';
    margin-right: 9px;
}
.box__title:after {
    content: '»';
    margin-left: 9px;
}
.box__ul {
    border: 1px solid #0f0;
    padding: 10px;
}





/* JS HTML LOG */

.box__subtitle {
    color: #33acda;
    font-family: sans-serif;
    list-style: none;
    font-size: 20px;
    margin: 15px 20px;
    text-align: center;

}
.box__subtitle:hover {
    font-style: italic;
}

.box__text {
    margin: 10px 10px;
    display: block;
    color: #c7c7c7;
    line-height: 1.2;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}

.box__code {
    margin: 15px 15px;
    display: block;
    color: #1ae097;
    font-size: 18px;
    font-style: italic;
    text-align: left;
}
.box__code:hover {

}


.box__ex {
    margin: 10px 10px;
    color: #cc8e8e;
    font-family: sans-serif;
    list-style: none;
    font-size: 18px;
    margin: 15px 10px;
    text-align: left;

    opacity: .8;

    transition: .1s opacity linear;

}
.box__ex:hover {
    color: #edc8c8;
    opacity: 1;
}

.box__ex__type {
    color: #2b6bca;
}
.box__ex_value {
    color: #3ada30;
}
.box__ex__type:hover, .box__ex_value:hover {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
}

/* JS HTML LOG */





















