body {
    margin: 0;

    color: #000;
    background-color: #3C3F41;
    font-family: Consolas, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
}

*, *:before, *:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px;
}





.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    height: auto;

    background-color: #1D1F21;
    border-radius: 10px;
}

.box__title {
    padding: 15px 0;
    color: #D7D8D9;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.box__title:before, .box__title:after {
    color: #c31818;
    font-size: 26px;
}
.box__title:before {
    content: '«';
    margin-right: 9px;
}
.box__title:after {
    content: '»';
    margin-left: 9px;
}
.box__ul {
    padding: 10px 10px;
}





/* JS HTML LOG */

.box__subtitle {
    color: #C0D8D9;
    list-style: none;
    font-size: 25px;
    font-weight: 400;
    margin: 15px 20px;
    text-align: center;

}
.box__subtitle:hover {
    font-style: italic;
}

.box__text {
    margin: 20px 0;
    padding: 10px 17px;
    font-size: 18px;
    border-left: 2px solid #fff;
    color: #D89333;
    display: block;
    line-height: 1.2;
    text-align: left;
}

.box__code {
    font-size: 16px;
    margin: 5px 15px;
    display: block;
    color: #A87FB8;

    text-align: left;
}


.box__console {
    font-size: 16px;
    margin: 5px 15px;
    display: block;
    color: #767676;
    font-style: normal;
    text-align: left;
}


.box__ex {
    font-size: 16px;
    margin: 5px 15px;
    color: #D1DDB9;
    list-style: none;
    text-align: left;

    opacity: .8;

    transition: .1s opacity linear;

}
.box__ex:hover {
    color: #e2f8b4;
    opacity: 1;
}

.box__ex__type {
    color: #539EEA;
}
.box__ex_value {
    color: #377908;
}
.box__ex__type:hover, .box__ex_value:hover {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 600;
}

/* JS HTML LOG */





















